.navbar {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    transition: transform 0.2s ease;
}

.navbarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 0.5rem;
    text-decoration: none;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 500;
}

.navbarItem:hover .dot {
  transform: scale(1.3);
}