@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;

}


#root {
  width: 100%;
  height: 100%;
  isolation: isolate;
}

*, *::before, *::after {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* * {
  outline: 1px solid red;
} */